.add-book {
  padding: 50px 0;
}

.add-book-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
  padding: 80px 150px;
}

.input-group {
  margin-bottom: 10px;
  width: 100%;
}

.add-book-input {
  margin-bottom: 10px;
}

.add-book-button {
  width: 200px;
  margin-top: 30px;
  align-self: flex-end;
  padding: 10px;
}

.srv-validation-message {
  color: #e6567a;
  font-weight: 600;
}
