.book-ctrl {
  display: flex;

  position: absolute;
  right: 0;
}

.book-ctrl-btn {
  background-color: #e6567a;
  color: #fff;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.book-ctrl-btn:first-child {
  margin-right: 15px;
}

.book-ctrl-btn:hover {
  background-color: #bf4a67;
  transition: 0.2s;
}

.fa-times {
  font-size: 14px;
}

.fa-pen {
  font-size: 10px;
}
