.book-ctrl {
  display: flex;
  position: absolute;
  right: 0px;
}

.book-ctrl-btn {
  background-color: #e6567a;
  /* border: 1px solid black; */
  height: 23px;
  width: 23px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.book-ctrl-btn:first-child {
  margin-right: 15px;
}

.book-ctrl-btn:hover {
  background-color: #bf4a67;
  transition: 0.2s;
}

.book-ctrl-btn:active {
  transform: scale(1.1);
  transition: 0.01s;
}

.fa-times {
  font-size: 20px;
}

.fa-pen {
  font-size: 15px;
}
