.book-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
  padding: 80px 150px;
}

.book-notfound {
  text-align: center;
  font-size: 15px;
}

.book-form-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.book-input {
  margin-bottom: 10px;
}

.book-button {
  width: 200px;
  margin-top: 30px;
  align-self: flex-end;
  padding: 10px;
}

.srv-validation-message {
  color: #e6567a;
  font-weight: 600;
}

.input-group {
  margin-bottom: 10px;
  width: 100%;
}
