.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.book-list-title {
  width: 100%;
  margin-bottom: 10px;
  background-color: #f8d9d5;
  padding: 10px 5px;
}

.book-title-list {
  display: flex;
  justify-content: space-between;
}

.book-title-list li {
  flex-basis: 100%;
  text-align: center;
}

.book-list-content {
  width: 100%;
  padding: 10px 0;
}

.delet-book {
  text-align: center;
  margin-top: 20px;
}

.delet-book-text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.delet-book-btns {
  display: flex;
  justify-content: space-around;
}

.delet-book-btns-cancel,
.delet-book-btns-submit {
  width: 100px;
}

.delet-book-btns-cancel {
  background-color: transparent;
  border: 3px solid #e6567a;
}

.delet-book-btns-cancel:hover {
  border-color: #bf4a67;
  background-color: transparent;
}
