.wrapper {
  width: 100%;
  min-height: 100%;

  display: flex;
}

.colors {
  color: #f4edf6;
  color: #f8d9d5;
  color: #d8e2ec;
  color: #bf4a67;
  color: #e6567a;
}

.button {
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  transition: 0.2s;
  padding: 7px 0;
}

.button:hover {
  transition: 0.2s;
}
