.book {
  width: 100%;
  border-bottom: 1px solid #f8d9d5;
  border-top: 1px solid #f8d9d5;
  margin-bottom: 10px;
  padding: 10px 5px;

  position: relative;
}
.book-fields {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-field {
  flex-basis: 100%;
  text-align: center;
}
