.nav {
  display: flex;
  justify-content: space-around;

  background-color: #d8e2ec;
  height: 50px;
}

.nav-button {
  font-weight: 600;
  font-size: 17px;
  border-bottom: 4px solid transparent;
  transform: translateY(2px);
  color: black;
  padding: 0 10px;

  display: flex;
  align-items: center;
}

.nav-active {
  border-bottom: 4px solid #e6567a;
}

.nav-button:hover {
  transition: 0.2s;
  border-bottom: 4px solid #e6567a;
}
