.pop-up-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 0;
}

.pop-up-input {
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
}

.pop-up-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
}

.pop-up-switch-link {
  background-color: transparent;
  text-decoration: underline;
}

.submit-error {
  text-align: center;
  color: #e6567a;
}
